<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark"
        aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarDark">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <!-- aria-current="page"-->
            <!-- a classes use variable from EJS -->
            <a class=<%= perseveranceLink %> href="/perseverance">Perseverance</a>
          </li>
          <li class="nav-item">
            <a class=<%= curiosityLink %> href="/curiosity">Curiosity</a>
          </li>
          <li class="nav-item">
            <a class=<%= oppurtunityLink %> href="/twins">Oppurtunity</a>
          </li>
          <li class="nav-item">
            <a class=<%= spiritLink %> href="/twins">Spirit</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>