<!doctype html>
<html lang="en">

<!-- Include <head> -->
<%- include('../partials/_header') %>

  <body>
    <!-- Navbar Element -->
    <%- include('../partials/_navbar') %>


      <!-- Gap -->
      <div class="container-fluid bg-black">
        <div class="row">
          <div class="mb-5  bg-dark"></div>
        </div>
      </div>

      <!-- Date Input Element -->
      <div class="container-fluid bg-black">
        <div class="row ">
          <div class="col-auto">
            <input type="date" id="dateInput" name="dateInput" value="2012-08-06" min="2012-08-06" max="2022-08-18">
          </div>
        </div>
      </div>

      <!-- Date input event and handling
      <script>
        const dateInput = document.getElementById('dateInput');
        dateInput.addEventListener('change', event => {
          const inputDate = new Date(dateInput.value);
          // Need to add 1 to the date for some reason
          inputDate.setDate(inputDate.getDate() + 1);
          // Set variables for day, month, and year
          var day = inputDate.getDate();
          var month = inputDate.getMonth();
          var year = inputDate.getFullYear();
          console.log(day.toString() + month.toString() + year.toString());
          
        })
      </script> -->




      <!-- Dropdown menu for cameras -->
      <div class="dropdown open">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cameras
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId" id="cameras">
          <!-- dropdown-item or dropdown-item disabled -->
          <button class="dropdown-item" id="EDL_RUCAM" href="#">Rover Up-Look Camera</button>
          <button class="dropdown-item" id="EDL_RDCAM" href="#">Rover Down-Look Camera</button>
          <button class="dropdown-item" id="EDL_DDCAM" href="#">Descent Stage Down-Look Camera</button>
          <button class="dropdown-item" id="EDL_PUCAM1" href="#">Parachute Up-Look Camera A</button>
          <button class="dropdown-item" id="EDL_PUCAM2" href="#">Parachute Up-Look Camera B</button>
          <button class="dropdown-item" id="NAVCAM_LEFT" href="#">Navigation Camera - Left</button>
          <button class="dropdown-item" id="NAVCAM_RIGHT" href="#">Navigation Camera - Right</button>
          <button class="dropdown-item" id="SKYCAM" href="#">MEDA Skycam</button>
          <button class="dropdown-item" id="MCZ_LEFT" href="#">Mast Camera Zoom - Left</button>
          <button class="dropdown-item" id="MCZ_RIGHT" href="#">Mast Camera Zoom - Right</button>
          <button class="dropdown-item" id="FRONT_HAZCAM_LEFT_A" href="#">Front Hazard Avoidance Camera - Left</button>
          <button class="dropdown-item" id="FRONT_HAZCAM_RIGHT_A" href="#">Front Hazard Avoidance Camera -
            Right</button>
          <button class="dropdown-item" id="REAR_HAZCAM_LEFT" href="#">Rear Hazard Avoidance Camera - Left</button>
          <button class="dropdown-item" id="REAR_HAZCAM_RIGHT" href="#">Rear Hazard Avoidance Camera - Right</button>
          <button class="dropdown-item" id="SHERLOC_WATSON" href="#">SHERLOC WATSON Camera</button>
        </div>
      </div>
      
      <!-- Event listener for change in the date, updates the disabled cameras based on if they have pics-->
      <script>
        const dateInput = document.getElementById('dateInput');
        const cameraList = document.getElementById('cameras').getElementsByTagName('Button');
        console.log(cameraList[1].id);
        dateInput.addEventListener('change', event => {
          const inputDate = new Date(dateInput.value);
          inputDate.setDate(inputDate.getDate() + 1);
          var day = inputDate.getDate();
          var month = inputDate.getMonth();
          var year = inputDate.getFullYear();

          

          

          // <p id="testing"></p>

        // const submit = document.getElementById('submitCamerasButton')
        // const cameraList = document.getElementById('cameras').getElementsByClassName('list-group-item bg-dark small py-1');
        // const testingList = document.getElementById('testing');

        // submit.addEventListener('click', event => {
        //   while (testingList.firstChild) {
        //     testingList.removeChild(testingList.firstChild);
        //   }
        //   for (let i = 0; i < cameraList.length; i++) {
        //     if (cameraList[i].firstElementChild.checked == true) {
        //       let item = cameraList[i].firstElementChild.id;
        //       let item_element = document.createElement('div');
        //       item_element.classList.add('item');
        //       item_element.innerText = item;

        //       testingList.appendChild(item_element);
        //     };
        //   }
        // })
                    
          ;
        })
      </script>

      <!-- Setting the button class as active or disabled -->


      

      <!-- Gallery of Images. 
      responses are limited to 25 photos per call. more are put on different pages accessed by page param in query 
      ex: http://mars-photos.herokuapp.com/api/v1/rovers/curiosity/photos?sol=1000&page=2 -->

      <div class="container-fluid bg-dark">
        <div class="row row-cols-4" id="gallery">
        </div>
      </div>




      <!-- <div class="row p-5">
        <div class="col-3">
          <img src="http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG" class="rounded img-fluid">
        </div>
        <div class="col-3">
          <img src="http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG" class="rounded img-fluid">
        </div>
        <div class="col-3">
          <img src="http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG" class="rounded img-fluid">
        </div>
        <div class="col-3">
          <img src="http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG" class="rounded img-fluid">
        </div>
      </div> -->

      <ul class="list-group">
        <ul class="list-group list-group-horizontal">
          <!-- <li class='list-group-item'> An Item </li> -->
        </ul>
      </ul>
      <ul class="list-group list-group-horizontal">

      </ul>

      <!-- Captures user input from the checkbox submission-->

      <!-- addEventListener()
        document.querySelecter or document. document.getElementById-->

      <!-- <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
        <label class="form-check-label" for="flexCheckDisabled">
          Checked checkbox
        </label>
      </div> -->
      <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <iframe src="https://mars.nasa.gov/gltf_embed/25042" width="100%" height="450px" frameborder="0"></iframe>
          </div>
          <div class="col">
            <iframe src='https://mars.nasa.gov/maps/location/?mission=M20&site=NOW' width='800' height='450' scrolling='no' frameborder='0' allowfullscreen></iframe>
          </div>
        </div>
      </div> -->
      <!-- <iframe src='https://mars.nasa.gov/layout/embed/model/?s=6' width='800' height='450' scrolling='no' frameborder='0' allowfullscreen></iframe> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
  </body>

</html>