<!-- Checkboxes for 15 cameras on the Perseverance Rover and Submit button-->
<div class="container-fluid bg-black">
  <div class="row g-0" id="cameras">
    <div class="col-auto">
      <ul class="list-group d-flex">
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="EDL_RUCAM">
          <label class="form-check-label text-white" for="EDL_RUCAM">
            Rover Up-Look Camera
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="EDL_RDCAM" checked>
          <label class="form-check-label text-white" for="EDL_RDCAM">
            Rover Down-Look Camera
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="EDL_DDCAM">
          <label class="form-check-label text-white" for="EDL_DDCAM">
            Descent Stage Down-Look Camera
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="EDL_PUCAM1" checked>
          <label class="form-check-label text-white" for="EDL_PUCAM1">
            Parachute Up-Look Camera A
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="EDL_PUCAM2">
          <label class="form-check-label text-white" for="flexChecEDL_PUCAM2kDefault">
            Parachute Up-Look Camera B
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="NAVCAM_LEFT">
          <label class="form-check-label text-white " for="NAVCAM_LEFT">
            Navigation Camera - Left
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="NAVCAM_RIGHT">
          <label class="form-check-label text-white " for="NAVCAM_RIGHT">
            Navigation Camera - Right
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="SKYCAM" checked>
          <label class="form-check-label text-white" for="SKYCAM">
            MEDA Skycam
          </label>
        </li>
    </div>
    <div class="col-auto">
      <ul class="list-group">
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="MCZ_LEFT" checked>
          <label class="form-check-label text-white" for="MCZ_LEFT">
            Mast Camera Zoom - Left
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="MCZ_RIGHT">
          <label class="form-check-label text-white" for="MCZ_RIGHT">
            Mast Camera Zoom - Right
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="FRONT_HAZCAM_LEFT_A" checked>
          <label class="form-check-label text-white" for="FRONT_HAZCAM_LEFT_A">
            Front Hazard Avoidance Camera - Left
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="FRONT_HAZCAM_RIGHT_A">
          <label class="form-check-label text-white" for="FRONT_HAZCAM_RIGHT_A">
            Front Hazard Avoidance Camera - Right
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="REAR_HAZCAM_LEFT" checked>
          <label class="form-check-labe text-white" for="REAR_HAZCAM_LEFT">
            Rear Hazard Avoidance Camera - Left
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="REAR_HAZCAM_RIGHT" checked>
          <label class="form-check-labe text-white" for="REAR_HAZCAM_RIGHT">
            Rear Hazard Avoidance Camera - Left
          </label>
        </li>
        <li class="list-group-item bg-dark small py-1">
          <input class="form-check-input" type="checkbox" value="" id="SHERLOC_WATSON" checked>
          <label class="form-check-labe text-white" for="SHERLOC_WATSON">
            SHERLOC WATSON Camera
          </label>
        </li>
      </ul>
      <!-- <div class="row py-0 px-5" id="submitCameraButton">
        <button type="button" class="btn btn-light  py-1" id="submitCamerasButton">Sumbit</button>
      </div> -->
    </div>
  </div>
</div>